.content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    background-image:  url(/train.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100vh;
}

.form-floating input, p {
    font-size: calc(10px + 2vmin);
}

.form-floating, .form-select {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.box .form-floating {
    width: 68%;
}

.box .form-select {
    width: 30%;
}

.lang-box {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: calc(8px + 1vmin);
}

.lang-box select {
    height: 50px;
    width: 70px;
}

